@import './quasar.variables'

// iOs Font
$typography-font-family     ?= '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

$toolbar-color              ?= white
$toolbar-background         ?= $primary
$toolbar-active-color       ?= $light
$toolbar-faded-color        ?= composite-color($toolbar-color)

@import '~quasar-framework/dist/quasar.ios.styl'
